.breathe-form-wrapper {
  height: 90vh;
}

.breathe-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 75px;
}

.breathe-form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  user-select: none;
  position: relative;
}

input[type="range"] {
  width: 100%;
  height: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.active-b {
  transform: scale(1.5);
  color: #fff !important;
  border-bottom: solid;
  position: relative;
}

.active-b > span {
  font-size: 16px;
}

.stat-cards {
  display: flex;
  gap: 16px;
}

.stat-card {
  background-color: #1d1d1d;
  border-radius: 9px;
  width: 110px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
  gap: 7px;
}

.timer {
  width: 80px !important;
}

.bowl {
  font-size: 3px;
}
.active-b .bowl {
  width: 300px;
  position: absolute;
  top: 20px;
  left: -50px;
  border-bottom: solid;
}

.space-holder {
  font-size: 3px !important;
  color: #000;
}
