.check-in-wrapper {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.desc-options {
  display: flex;
  flex-direction: column;
  height: 480px;
  overflow-y: scroll;
}

.desc-options::-webkit-scrollbar {
  display: none;
}

.desc-options-header {
  margin: 0;
  padding: 0;
}

#last {
  padding-bottom: 120px;
}

#origin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#origin-options {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 680px;
  overflow-y: scroll;
  user-select: none;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  gap: 102px;
}

#origin-options::-webkit-scrollbar {
  display: none;
}

.origin-option {
  text-align: center;
  height: 20px;
  width: fit-content;
}

.origin-name {
  padding: 0;
  margin: 0;
}

#origin > h1 {
  margin: 0;
}
