#base {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
  background-color: #000;
}

#base-container {
  width: 750px;
  display: flex;
  align-items: center;
  position: relative;
}

.base-content {
  height: 100%;
  width: 600px;
  position: relative;
}

.left-arrow {
  transition: transform 0.2s, opacity 1s;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.right-arrow {
  transition: transform 0.2s, opacity 1s;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.hide-cursor {
  cursor: none;
}

.page-turn-right {
  transform: translateX(8px);
}

.page-turn-left {
  transform: translateX(-8px);
}

.nav-bar {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 600px;
  position: absolute;
  bottom: 75px;
  background-color: #000;
}

.nav-link {
  color: #707070;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: solid; */
}

.nav-link-active {
  color: #ffffff;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
}

.nav-link:hover {
  color: #d2d2d2;
}

.user-menu {
  position: absolute;
  top: 5px;
  right: 0;
  width: 40px;
  cursor: pointerww;
}
