#check-ins {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.check-in-tile {
  border: solid 1px #fff;
  width: 225px;
  border-radius: 16px;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  height: 350px;
  background-color: transparent;
  position: relative;
}

.check-in-tile:hover {
  transform: scale(0.99);
  z-index: 4;
}

.check-in-tile > span {
  color: #707070;
}

.daily-reflections {
  letter-spacing: 5px;
  margin-bottom: 32px;
}

.home-date {
  font-weight: 700;
}

.check-in-tile-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 175px;
  font-weight: 700;
  line-height: 25px;
  padding: 0 16px;
  padding-top: 50px;
}

.check-in-tile-header > span {
  font-weight: 400;
  color: #707070;
}

.video-container {
  height: 100px;
  width: 100%;
}

.tile-video {
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.begin {
  background-color: #fff;
  color: #000;
  border-radius: 9999px;
  padding: 10px 25px;
  transition: transform 0.2s ease-in-out;
}

.begin:hover {
  transform: scale(1.05) !important;
  /* text-decoration: underline; */
}

.check-in-tile:hover .begin {
  transform: scale(1.01);
}
