#check-ins {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.check-in-tile {
  border: solid 1px #fff;
  width: 225px;
  border-radius: 16px;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

.check-in-tile:hover {
  transform: scale(0.99);
}

.check-in-tile > span {
  color: #707070;
}

.daily-reflections {
  letter-spacing: 5px;
}

.home-date {
  font-weight: 700;
}

.check-in-tile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.video-container {
  height: 100px;
  width: 100%;
}

.tile-video {
  object-fit: cover;
  height: 100px;
  width: 100%;
}
