.desc-option {
  width: 130px;
  height: 60px;
  border: solid 2px #fff;
  border-radius: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  margin: 8px 0;
}

.desc-container {
  padding: 20px 0;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.page-indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  width: 100%;
  gap: 5px;
  color: #000;
  user-select: none;
}

.page-indicator {
  border-bottom: #2f2f2f solid 3px;
}

.active-indicator {
  user-select: text;
  border-bottom: #fff solid 3px;
}
