.detail-page {
  padding: 75px;
  position: relative;
}

.entry-detail-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}

#confirm-delete {
  position: absolute;
  z-index: 1;
  background-color: #000;
  top: 0;
  left: 0;
  width: 600px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
}
