.entry {
  border: solid 1px #ffffff;
  border-radius: 16px;
  width: 468px;
  height: fit-content;
  padding: 16px;
  font-weight: 400;
  transition: transform 0.5 ease;
}

.entry:hover {
  transform: scale(0.99);
}

.entry-header {
  display: flex;
  justify-content: space-between;
}

.entry-header > span {
  font-weight: 400;
  font-size: 13px;
}

.entry-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 16px;
}

.entry-icon {
  width: 35px;
  height: 35px;
}

.entry-header-text {
  margin: 0;
  letter-spacing: 3px;
}

.entry-header-text > span {
  font-weight: 700;
  letter-spacing: 0px;
}

.entry-prompt-one {
  text-align: left;
  font-weight: 400;
  color: #707070;
  margin-bottom: 0;
}

.entry-prompt-one-ans {
  text-align: left;
  font-weight: 400;
  margin-top: 0;
}

.tags {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}

.tag {
  border: solid 1px #fff;
  border-radius: 9999px;
  width: fit-content;
  padding: 0 16px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
