.tiles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 1;
}

.tile-img {
  position: absolute;
  top: 5%;
  z-index: 1;
}

.check-in-tile-header {
  z-index: 3;
}

.avg-mood {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
  margin-bottom: -6px;
}

.avg-mood-text {
  padding: 0;
}
