.entries {
  display: flex;
  flex-direction: column;
  height: 700px;
  overflow-y: scroll;
  gap: 20px;
  align-items: center;
  word-wrap: break-word;
}

.entry-date {
  margin-bottom: 8px;
  text-align: left;
  padding: 0 50px;
}

.entry-date > span {
  color: #707070;
}

.write-your-first {
  color: #707070;
}
