.yes-no {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 25px;
}

.yes-no-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #fff;
  border-radius: 16px;
  width: 100px;
  height: 175px;
  cursor: pointer;
  gap: 16px;
}
